.item-detail-container {
    text-align: center;
    padding: 20px;
  }
  
  .item-detail-container img {
    width: 150px;
    height: 150px;
  }
  
  .item-detail-container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .item-detail-container p {
    font-size: 1rem;
    margin: 5px 0;
  }  